<% provide(:title, "About") %>
<h1>About Us</h1>
<p class="lead">This webapp was put together by <a href="http://davichaves.com">Davi Chaves</a> and <a href="http://dcc.ufmg.br/~mmarques">Marlon Marques</a>.</p>
