<% provide(:title, "Select Level") %>

<h1>Select a Level</h1><hr/>

<div class="row">
	<ul>
		<h2 class="lead"><li>Beginner</li></h2>
		<h2 class="lead"><li>Intermediate</li></h2>
		<h2 class="lead"><li>Advanced</li></h2>
	</ul>
</div>
<hr/>

<div class="row">
	PS: Is this your <strong>first time playing?</strong> Try our tutorial.
</div>