<% provide(:title, "Select Level") %>

<h1>Select a Level</h1><hr/>


<p class=" lead text-right no-margin-bottom">Points: <strong><%= @current_user.points %></strong></p>

<div class="row">
	
	<h2 class="lead"><%= link_to "Beginner", play_beginner_path %></h2>
	<h2 class="lead"><a href="/play/leap">Leap Motion</a></h2>
	
</div>
<hr/>

<div class="row">
	PS: Is this your <strong>first time playing?</strong> <%= link_to "Try our tutorial.", play_tutorial_path %>
</div>