<h1>Tutorial</h1><hr/>

<p class="lead"><strong>Overview</strong></p>
<p class="lead">This game's objective is to teach American Sign Language (ASL). The user can choose from 3 difficulties, and he or she will get a question matching the chosen level.</p>
<p class="lead">In case the user gets the question right, he or she will win (based on level of difficulty): </p>
<ul>
<li class="lead">Beginner: 10 points</li>
<li class="lead">Intermediate: 20 points</li>
<li class="lead">Advanced: 30 points</li>
</ul>
<p class="lead">However, we believe that learning is a process that requires consistency. Therefore, if the user doesn't log in for 3 days in a row, he or she will <strong>lose 30 points</strong>. </p>

<p class="lead"><strong>The signs</strong></p>

<p class="lead">A good place to start is by learning individual letters (baby steps, baby steps). Check out the picture below.</p><br/>

<div class="text-center"><%= image_tag 'abc1280x960.png', size: "600" %></div><br/>

<p class="lead">Once you feel confident, try playing the <a href="beginner"><strong>beginner mode.<strong></a></p>
